.address_warning{
     float: left;
     position: relative;
     margin-top:25px !important;
     margin-bottom:50px !important;
     margin-right:20px !important;
    }
.wrapper_address_warning{
    height:75px;
    background-color:#B10E1E;
    }
    p.clear {
        clear: both;
    }
.white{
    margin-top:20px;
    color:white;
    }
.smaller_padding_bottom
   {
   margin-bottom: 15px;
   }
   .larger_top_padding
  {
      margin-top: 20px;
   }
